<html>
<head>
  <title>Expertiza password reset</title>
</head>

<body>
<p>Hi ,</p>
<p>Reset your password, and we'll get you on your way.</p>
<p>To change your password, click or paste the following link into your browser:</p>
<p><a href="<%= @reset_url %>"><%= @reset_url %></a></p>
<p>The link will expire in 24 hours, so be sure to use it right away.</p>
</body>
</html>

