<!-- Holds reused code for completed quiz view -->
<label for="responses_#{count.to_s}" > #{txt} </label>
<input id="responses_#{count.to_s}_score" name="responses[#{count.to_s}][score]" type="hidden" value="">