---
openapi: 3.0.1
info:
  title: EXPERTIZA API V1
  version: v1
paths:
  "/api/v1/roles":
    get:
      summary: list roles
      tags:
      - Roles
      responses:
        '200':
          description: successful
    post:
      summary: create role
      tags:
      - Roles
      parameters: []
      responses:
        '201':
          description: Created a role
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                parent_id:
                  type: integer
                default_page_id:
                  type: integer
              required:
              - name
  "/api/v1/roles/{id}":
    parameters:
    - name: id
      in: path
      description: id of the role
      required: true
      schema:
        type: integer
    get:
      summary: show role
      tags:
      - Roles
      responses:
        '200':
          description: successful
    patch:
      summary: update role
      tags:
      - Roles
      parameters: []
      responses:
        '200':
          description: successful
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                parent_id:
                  type: integer
                default_page_id:
                  type: integer
              required:
              - name
    put:
      summary: update role
      tags:
      - Roles
      parameters: []
      responses:
        '200':
          description: successful
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                parent_id:
                  type: integer
                default_page_id:
                  type: integer
              required:
              - name
    delete:
      summary: delete role
      tags:
      - Roles
      responses:
        '200':
          description: successful
  "/api/v1/sign_up_topics":
    post:
      summary: create a new topic in the sheet
      tags:
      - SignUpTopic
      parameters: []
      responses:
        '201':
          description: Success
        '404':
          description: Not Found
        '422':
          description: Invalid Request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                topic_identifier:
                  type: integer
                topic_name:
                  type: string
                max_choosers:
                  type: integer
                category:
                  type: string
                assignment_id:
                  type: integer
                micropayment:
                  type: integer
              required:
              - topic_identifier
              - topic_name
              - max_choosers
              - category
              - assignment_id
              - micropayment
  "/api/v1/sign_up_topics/{id}":
    parameters:
    - name: id
      in: path
      description: id of the sign up topic
      required: true
      schema:
        type: integer
    put:
      summary: update a new topic in the sheet
      tags:
      - SignUpTopic
      parameters: []
      responses:
        '200':
          description: successful
        '404':
          description: Not Found
        '422':
          description: Invalid Request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                topic_identifier:
                  type: integer
                topic_name:
                  type: string
                max_choosers:
                  type: integer
                category:
                  type: string
                assignment_id:
                  type: integer
                micropayment:
                  type: integer
              required:
              - topic_identifier
              - topic_name
              - category
              - assignment_id
    delete:
      summary: delete sign up topic
      tags:
      - SignUpTopic
      responses:
        '200':
          description: successful
  "/api/v1/sign_up_topics/filter":
    get:
      summary: Get topics based on Assignment ID and Topic Identifiers filter
      parameters:
      - name: assignment_id
        in: query
        description: Assignment ID
        required: true
        schema:
          type: integer
      - name: topic_ids[]
        in: query
        description: Topic Identifiers
        collectionFormat: multi
        schema:
          type: array
      tags:
      - SignUpTopic
      responses:
        '200':
          description: successful
    delete:
      summary: Delete based on Assignment ID and Topic identifier filter
      parameters: []
      tags:
      - SignUpTopic
      responses:
        '200':
          description: Success
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assignment_id:
                  type: integer
                topic_ids:
                  type: array
                  items:
                    type: string
              required:
              - assignment_id
servers:
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: 127.0.0.1:3000
