<tr>
   <td align="center"><a rel="nofollow" data-method="delete" href="/questions/' + id.to_s + '">Remove</a></td>
   <td>
      <input size="6" value="' + seq.to_s + '" name="question[' + id.to_s + '][seq]" id="question_' + id.to_s_seq" type="text">
    </td>
    <td>
      <textarea cols="50" rows="1" name="question[' + id.to_s + '][txt]" id="question_' + id.to_s_txt" placeholder="Edit question content here">' + txt + '</textarea>
    </td>
    <td>
      <input size="10" disabled="disabled" value="' + type + '" name="question[' + id.to_s][type]" id="question_' + id.to_s + '_type" type="text">
    </td>
    <td>
      <input size="2" value="' + weight.to_s + '" name="question[' + id.to_s][weight]" id="question_' + id.to_s + '_weight" type="text">
    </td>
   <td> max_label 
      <input size="10" value="' + max_label.to_s + '" name="question[' + id.to_s + '][max_label]" id="question_' + id.to_s_max_label" type="text">  min_label <input size="12" value="' + min_label.to_s + '" name="question[' + id.to_s][min_label]" id="question_' + id.to_s + '_min_label" type="text">
   </td>
</tr>
